*{
    font-family: "Montser",sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body {
    background-color: #acb0b4;
}
.container {
    margin: auto;
    display: grid;
    grid-template-columns: 0.33fr 1fr;
    width: 210mm;
    height: 297mm;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0,0, 0.7);

}
.container .card-one{
    padding: 40px 20px;
    padding-left: 35px;
    background-color: #d1d1d1;
    width: 100%;
    color: #313131;
} 
.container .card-one .profile{
    display: inline-flex;
    margin-bottom: 5px;
    margin-left: -15px;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 4px solid black;
    background-image: url(./image/profile.png);
    background-position: center;
    background-size: 100%;

}
.container .card-one .head-title{
    position: relative;
    display: flex;
    font-size: 2.5em;
    color:#b89258;
    
}
.h2{
    padding-bottom: 15px;
    font-size: 27px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.container .card-one .contectInfo{
    padding-top: 100px;

}
.title{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
    padding-top: 20px;
}
.EducationInfo .title{
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.container .card-two{
    background-color: #173c62;
    padding: 40px 20px;
    padding-right: 75px;
    color: #b4b4b5;
    font-weight: 400;
}

.container .card-two .box{
    display: inline-block;
    padding: 2px 70px 2px 20px;
    margin-left: -20px;
    margin-top: 35px;
    background-color: #b89258;
    color: #2c2b29;
}
.container .card-two .group-1 .description{
    
    margin-top: 15px;
    line-height: 1.5;

}
.container .card-two .group-2 .description{
    
    margin-top: 15px;
    margin-left: 20px;
}
.container .card-two .group-2 .description ul{
    
    position: relative;
    margin-top: 20px;
    margin-left: 5px;
}
.container .card-two .group-2 .description ul::before{
    content: "";
    position: absolute;
    top: 12px;
    left: -22px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #b89258;
}
.container .card-two .group-2 .description ul li div:last-of-type{
    color:#b89258;
    font-weight: bold;
}
.container .card-two .group-3 .description{
    margin-top: 15px;
    margin-left: 20px;
}
.container .card-two .group-3 .description ul{
    
    position: relative;
    margin-top: 20px;
    margin-left: 5px;
}
.container .card-two .group-3 .description ul::before{
    content: "";
    position: absolute;
    top: 12px;
    left: -22px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #b89258;
}
.container .card-two .group-3 .description ul li div:nth-child(2){
    color:#b89258;
    font-weight: bold;
}

